
.toggle{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    border-radius: 3px;
    position: relative;
    font-size: 1.5rem;

}

.ball{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: black;
    position: absolute;
    right:2px;

}