.navbar{
    display: flex;
    z-index: 1;
    padding-top: 20px;
    position: sticky;
    background-color:rgb(3, 11, 18) ;
}
.dash{
    margin-left: 100px;
    margin-right: 300px;
}
.input input{
    padding-left: 60px;
    background-color: black;
    height: 30px;
    width: 400px;
    box-shadow: none;
    margin-right: 200px;
}
.bell{
    font-size: 20px;
}
.profile img{
    margin-left: 30px;
    border-radius: 50%;
    margin-top: -10px;

}