.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body h1{
    font-size: 1.4rem;
}
.body >div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    /* border: 1px solid rgba(0, 0, 0, 0.075); */
    border: 1px solid #ffffff31;
    padding: 3px 10px;
    border-radius: 5px;
    /* color: rgba(0, 0, 0, 0.548); */
    color: #fff;
}